* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #277714;
    min-width: 1200px;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    height: auto;
}

.col-1 {width: 14.2857%;}
.col-2 {width: 28.5714%;}
.col-3 {width: 42.8571%;}
.col-4 {width: 57.1428%;}
.col-5 {width: 71.4285%;}
.col-6 {width: 85.7142%;}
.col-7 {width: 100%;}

div img {
    border: 2px solid black;
    border-radius: 14px;
    display: block;
    margin: auto;
    max-width: 150px;
    height: auto;
}

div img:hover {
    border: 2px solid yellow;
    /* opacity: .95; */
}

.r1 img {
    z-index: -11;
}

.r2 img {
    margin-top: -225px;
    z-index: -10;
}

.r3 img {
    margin-top: -225px;
    z-index: -9;
}

.r4 img {
    margin-top: -225px;
    z-index: -8;
}

.r5 img {
    margin-top: -225px;
    z-index: -7;
}

.r6 img {
    margin-top: -225px;
    z-index: -6;
}

.r7 img {
    margin-top: -225px;
    z-index: -5;
}

.r8 img {
    margin-top: -225px;
    z-index: -4;
}

.r9 img {
    margin-top: -225px;
    z-index: -3;
}

.r10 img {
    margin-top: -225px;
    z-index: -2;
}

.r11 img {
    margin-top: -225px;
    z-index: -1;
}

.r12 img {
    margin-top: -225px;
    z-index: 0;
}

.clicked {
    border: 2px solid red;
}

.message-box {
    padding: 10px;
}

#message, #moves {
    display: inline-block;
    color: red;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.hidden {
    display: none;
}